{{ forTrigger }}
<div class="column civsfz-modellist">
{%- for card in cards if card.matchLevel %}
	{%- set nsfw = 'civsfz-cardnsfw' if card['isNsfw'] else '' %}
	{%- if card['have'] == 'new' %}
		{%- set alreadyhave = 'civsfz-modelcardalreadyhave' %}
	{%- elif card['have'] == 'old' %}
		{%- set alreadyhave = 'civsfz-modelcardalreadyhad' %}
	{%- endif %}	
	<figure class="civsfz-modelcard {{ nsfw }} {{ alreadyhave }}" onclick="civsfz_select_model('Index{{ card['jsId'] }}:{{ card['index'] }}:{{ card['id'] }}')">
		{%- if card['imgType'] == 'image' %}
			<img src={{ card['imgsrc'] }} loading="lazy" alt="Preview image" />
		{%- elif card['imgType'] == 'video' %}
			<video loop autoplay muted poster={{ card['imgsrc'] }}>
				<source src={{ card['imgsrc'] }} type="video/webm" />
				<source src={{ card['imgsrc'] }} type="video/mp4" />
				<img src={{ card['imgsrc'] }} loading="lazy" alt="Preview image" type="image/gif" />
			</video>
		{%- else %}
			<img src="{{cardNoPreview}}" loading="lazy" alt="Preview image" />
		{%- endif %}
		<figcaption class="civsfz-tooltip">
			{{ card['name'] }}
			<span class="civsfz-tooltiptext">{{ card['creator'] }}</span>
		</figcaption>
		<div class="civsfz-modeltype">{{ card['type'] }}</div>
		<div class="civsfz-basemodel" style="background-color:{{ dictBasemodelColor[card['baseModel']]|trim }}C0;">{{ card['baseModel'] }}</div>
		{%- if card['ea'] == 'in' %}
			<div class="civsfz-early-access-in">EA</div>
		{%- elif card['ea'] == 'out' %}
			<div class="civsfz-early-access-out">EA</div>	
		{%- endif %}
		{%- if card['favorite'] %}
			<div class="civsfz-creator-flag">⭐️</div>
		{%- endif %}
		{%- if card['ngUser'] %}
			<div class="civsfz-creator-flag">🚷</div>
		{%- endif %}
	</figure>
{%- endfor %}
</div>
