{# Model Information #}
{{ js }}
<div style="text-align: right;">
	<i>Model Info Version: {{ modelInfo["infoVersion"] }}</i>
</div>
<div>
	<h1>
		{%- if modelInfo['nsfw'] %}
			NSFW<br/>
		{%- endif %}
		{{ modelInfo["name"]|e }}
	</h1>
	<details open="true">
		<summary>Model Details</summary>
		<div style="float:right;width:35%;margin:-16px 0 1em 1em;">
			<h2>Permissions</h2>
			{{ permissions }}
			<p>{{ modelInfo["allow"]|e }}</p>
		</div>
		<div class="civsfz-modelInformation" style="overflow-wrap: anywhere;">
			{{- basicInfo }}
			<a href="{{ modelInfo['downloadUrl'] }}">Download here</a>
		</div>
		<div>
			<h2>Model description</h2>
			<div>{{ modelInfo["description"] }}</div>
		</div>
		{%- if modelInfo["versionDescription"] %}
			<div>
				<h2>Version description</h2>
				<div>{{ modelInfo["versionDescription"] }}</div>
			</div>
		{%- endif %}
	</details>
	<div style="clear:both;">
	<h2>Images</h2>
		<details open="true">
			<summary>Sample Images</summary>
			<p>Clicking on the image sends infotext to txt2img. If local, copy to clipboard</p>
			<div class="sampleimgs">
				{{- samples }}
			</div>
		</details>
	</div>
</div>


