{% set copy = '<span title="Copy to clipboard" style="cursor: copy;" onclick="civsfz_copyInnerText(this,false);">&#x1F4CB;</span>' %} {# 📋 #}
{% set tdStyle1 = 'style="max-width:20em;min-width:7em;padding:0.2em;"' %}

<div class="civsfz-modelBasicInfo" style="display:flex; align-items:flex-start; column-gap:2em;flex-wrap: wrap;">
	<table>
		<caption style="text-align: left">Model attributes</caption>
		<tr>
			<th {{ tdStyle1 }}>ID</th>
			<td {{ tdStyle1 }}>{{ copy }}<span>
				<a href="{{ civitaiRoot }}/models/{{ modelInfo['id'] }}?modelVersionId={{ modelInfo['versionId'] }}" target="_blank">{{ modelInfo["id"] }}
				</a>
			</span></td>
		</tr>
		<tr>
			<th {{ tdStyle1 }}>Uploaded by</th>
			{%- if 'creator' in modelInfo -%}
				<td {{ tdStyle1 }}>{{ copy }}
					<span>
						<a href="{{ civitaiRoot }}/user/{{ modelInfo['creator']['username'] }}" target="_blank">{{ modelInfo['creator']['username']|e }}</a>
					</span>
				</td>
			{%- else -%}
				<td {{ tdStyle1 }}><span>No creator information</span></td>
			{%- endif -%}
		</tr>
		<tr>
			<th {{ tdStyle1 }}>Published</th>
			<td {{ tdStyle1 }}>{{ published }}</td>

		</tr>
		<tr>
			<th {{ tdStyle1 }}>NSFW level</th>
			<td {{ tdStyle1 }}>{{ strNsfw }}</td>
		
		</tr>
	</table>

	<table>
		<caption style="text-align: left">Version attributes</caption>
		<tr>
			<th {{ tdStyle1 }}>ID</th>
			<td {{ tdStyle1 }}>{{ copy }}<span><a href="{{ civitaiRoot }}/models/{{ modelInfo['id'] }}?modelVersionId={{ modelInfo['versionId'] }}" target="_blank">{{ modelInfo["versionId"] }}</a></span></td>
		</tr>
		<tr>
			<th {{ tdStyle1 }}>Name</th>
			<td {{ tdStyle1 }}>{{ modelInfo["versionName"]|e }}</td>
		</tr>
		<tr>
			<th {{ tdStyle1 }}>Size</th>
			<td {{ tdStyle1 }}>{{ (modelInfo["modelVersions"][0]["files"][fileIndex]["sizeKB"] * 1024) |filesizeformat|e }}</td>
		</tr>
		{# <tr>
			<th {{ tdStyle1 }}>Hash</th>
			<td {{ tdStyle1 }}>{{ copy -}}<span>{{ modelInfo["modelVersions"][0]["files"][fileIndex]["hashes"]["AutoV3"]|lower|e }}</span></td>
		</tr> #}
		<tr>
			<th {{ tdStyle1 }}>NSFW level</th>
			<td {{ tdStyle1 }}>{{ strVNsfw }}</td>
		
		</tr>
		<tr>
			<th {{ tdStyle1 }}>Type</th>
			<td {{ tdStyle1 }}>{{ modelInfo["type"]|e }}</td>
		</tr>
		<tr>
			<th {{ tdStyle1 }}>Base Model</th>
			<td {{ tdStyle1 }}><span style="background-color:{{ dictBasemodelColor[modelInfo['baseModel']]|trim }};">{{ modelInfo["baseModel"]|e }}</span></td>
		</tr>
		<tr>
			<th {{ tdStyle1 }}>Tags</th>
			<td {{ tdStyle1 }}>
				{%- for tag in modelInfo['tags'] %}
					<span style="display:inline-block;">
						{{ copy -}}
						<span>{{ tag|e -}}
					</span>
					{%- if not loop.last %}
					,</span>
					{%- else %}
						</span>
					{%- endif %}
				{%- endfor %}
			</td>
		</tr>
		<tr>
			<th {{ tdStyle1 }}>Trained Tags</th>
			<td {{ tdStyle1 }}>
					{%- for trainedW in modelInfo['trainedWords'] %}
						<p>{{ copy }}<span>{{ trainedW |e }}</span></p>
					{%- endfor %}
				</table>
			</td>
		</tr>
	</table>
</div>