{%- from 'macros.jinja' import bgColor %}
{# {%- set modelcolor = "var(--civsfz-color-for-" + baseModel|replace(".", "_")|replace(" ", "_") + ")" %} #}
{%- set modelcolor = dictBasemodelColor[baseModel]|trim  %}
<div  style="display:grid;grid-template-columns: auto auto auto minmax(0, 1fr) ;">
	<div style="grid-column: 1 / 2;grid-row: 1 / 2;display: flex;align-items: center;justify-content:center; white-space: nowrap;background-color:{{ modelcolor }};">
		<span style="padding:0em 0.5em;">{{ baseModel|e }}</span>
	</div>

	{%- if not ea == "" %}
	<div
		style="grid-column: 1 / 2;grid-row: 2 / 2;display: flex;align-items: center;justify-content:center;white-space: nowrap; background-color: var(--civsfz-background-color-early-access-in);">
		&nbsp;&nbsp;Early Access&nbsp;&nbsp;
	</div>
	{%- else %}
	<div style="grid-column: 1 / 2;grid-row: 2 / 2;display: flex;align-items: center;"></div>
	{%- endif %}
	<div style="grid-column: 2 / 3;grid-row: 1 / 3;display: flex;align-items: center;font-size:x-large;background-color:hsl(from {{ modelcolor }} h s calc(l/1.5) );border: 2px solid {{ modelcolor }};border-right:none;">
		<div style="padding:0.0em 0.5em;line-height:1.2;">{{ modelName|e }}</div>
	</div>
	{%- if not uploadUser == "" %}
		<div
			style="grid-column: 3 / 4;grid-row: 1 / 2;display: flex;align-items: center;white-space: nowrap;font-size:normal;background-color:hsl(from {{ modelcolor }} h s calc(l/3) );border-left: 2px solid {{ modelcolor }};">
			<span style="padding:0.0em 0.5em;">by <span
					style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">{{ uploadUser|e
					}}</span></span>
		</div>
	{%- endif %}
	<div
		style="grid-column: 3 / 4;grid-row: 2 / 2;display: flex;align-items: center;font-size:normal;background-color:hsl(from {{ modelcolor }} h s calc(l/1.8) );border: 2px solid {{ modelcolor }};border-left:none;">
		<span style="padding:0.0em 0.5em;">{{ versionName|e }}</span>
	</div>
</div>