{# Permissions #}
{% macro green_text(text) -%}
	<span style=color:green>{{ text }}</span><br />
{%- endmacro %}
{% macro red_text(text) -%}
	<span style=color:crimson>{{ text }}</span><br />

{%- endmacro %}{%- set chrCheck = '&#x2705;' %} {# ✅ #}
{%- set chrCross = '&#x274C;' %} {# ❌ #}
<div>
	<p><strong>Check the source license yourself.</strong></p>
	<p>This model permits users to:<br/>
		{%- if allowNoCredit %} {{ chrCheck }} {% else %} {{ chrCross }} {% endif %} : Use the model without crediting the creator<br/>
		{%- if canSellImages %} {{ chrCheck }} {% else %} {{ chrCross }} {% endif %} : Sell images they generate<br/>
		{%- if canRent %} {{ chrCheck }} {% else %} {{ chrCross }} {% endif %} : Run on services that generate images for money<br />
		{%- if canRentCivit %} {{ chrCheck }} {% else %} {{ chrCross }} {% endif %} : Run on Civitai<br />
		{%- if allowDerivatives %} {{ chrCheck }} {% else %} {{ chrCross }} {% endif %} : Share merges using this model<br />
		{%- if canSell %} {{ chrCheck }} {% else %} {{ chrCross }} {% endif %} : Sell this model or merges using this model<br />
		{%- if allowDifferentLicense %} {{ chrCheck }} {% else %} {{ chrCross }} {% endif %} : Have different permissions when sharing merges model<br />
	</p>
</div>
<div>
	<p>
		{{ green_text('Commercial use allowed') if canSellImages or canSell else red_text('No commercial use') }}
		{{ green_text('Generation services allowed') if canRentCivit or canRent else red_text('No generation services') }}
		{{ green_text('No credit required') if allowNoCredit else red_text('Creator credit required') }}
		{{ green_text('Merges allowed') if allowDerivatives else red_text('No merges allowed') }}
		{{ green_text('Different permissions allowed on merges') if allowDifferentLicense else red_text('Same permissions required on merges') }}
		{# {{ red_text('No NSFW generation') if sfwOnly else green_text('NSFW generation allowed') }} #}
	</p>
</div>
